[Unit]
Description = frontend Service
[Service]
User=root
WorkingDirectory=/var/www/html/todoapp/frontend
ExecStart=/usr/bin/npm start 
Restart=on-failure
SyslogIdentifier=frontend

[Install]
WantedBy=multi-user.target