[Unit]
Description = frontend Service
[Service]
User=root
Environment=AUTH_API_ADDRESS=http://login.zsdevops.online:8080
Environment=TODOS_API_ADDRESS=http://todo.zsdevops.online:8080
WorkingDirectory=/home/todoapp/frontend
ExecStart=/usr/bin/npm start 
Restart=on-failure
SyslogIdentifier=frontend

[Install]
WantedBy=multi-user.target